.content_wrap{    
    height: 100%;
    display:flex;
    .left_header{
      width: 25%;
      height: 100%;
      background-color:#235f43;
      .side-button{
          height:180px;
          width:60px;
          position:fixed;
          left:2%;
          top:40%;
          div{
              height:30px;
              width: 30px;
              padding: 0.5rem;
              margin:0.5rem;
              &:hover{
                  background-color:darken(#235f43,10%);
                  transition: 0.5s;
              }
              svg{
                  color:white;
                  width:100%;
                  height:100%;
              }
          }
      }
    }
    .slider{
      width:75%;
      height: 100%;
      background-color: #288550;
      margin: 0 auto;
      .slide-container{
          position: fixed;
          top:24%;
          right:25%;
          width:700px;
          text-align: center;
          .each-slide{
              margin:0 auto;
              height:500px;
              width:450px;
              img{
                  height:500px;
                  width:500px;
              }
          }
      }
    }
    .slide_buttons {
        left: 20px;
        position: absolute;
        right: 20px;
        text-align: center;
    }
      
    .content-text{
       position : fixed;
       left:19.9%;
       top:30%;
       color:white;
       p{
           font-weight: bold;
            font-size: 30px;
            margin-bottom: 1rem;
            &.big{
                font-size:70px;
            }
            &.green{
                color: #8affc1;
            }
       }
    }
    .content-sub-text{
        position : fixed;
        right:5%;
        top: 30%;
        color:white;
        p{
            font-weight: 100;
             font-size: 20px;
             line-height: 1.5rem;
             margin-bottom: 3rem;
             &.big{
                 font-size:120px;                 
                 font-weight: 500; 
                 margin-bottom: 4rem;                
             }
             &.medium{
                
                font-size:25px;                 
                font-weight: 500;                 
            }
        }
 
     }
  }