.content_wrap{    
    height: 1024px;
    display:flex;
    .left_header{
      width: 25%;
      height: 1024px;
      background-color:#235f43;
      .side-button{
          height:180px;
          width:60px;
          position:fixed;
          left:2%;
          top:40%;
          div{
              height:30px;
              width: 30px;
              padding: 0.5rem;
              margin:0.5rem;
              &:hover{
                  background-color:darken(#235f43,10%);
                  transition: 0.5s;
              }
              svg{
                  color:white;
                  width:100%;
                  height:100%;
              }
          }
      }
    }
    .slider{
      width:75%;
      height: 1024px;
      background-color: #288550;
      margin: 0 auto;
      .slide_viewer {
        height: 100%;
        overflow: hidden;
        position: relative;
        .slide_group {
            height: 100%;
            position: relative;
            width: 100%;
            .slide {
                display: none;
                height: 100%;
                position: absolute;
                width: 100%;
                .slide:first-child {
                    display: block;
                  }
                  
                  .slide:nth-of-type(1) {
                    background: #D7A151;
                  }
                  
                  .slide:nth-of-type(2) {
                    background: #F4E4CD;
                  }
                  
                  .slide:nth-of-type(3) {
                    background: #C75534;
                  }
                  
                  .slide:nth-of-type(4) {
                    background: #D1D1D4;
                  }
              }
          }
      }
    }
    .slide_buttons {
        left: 20px;
        position: absolute;
        right: 20px;
        text-align: center;
    }
      
    .content-text{
       position : fixed;
       left:19.9%;
       top:30%;
       color:white;
       p{
           font-weight: bold;
            font-size: 30px;
            margin-bottom: 1rem;
            &.big{
                font-size:70px;
            }
            &.grean{
                color: #8affc1;
            }
       }
    }
    .content-sub-text{
        position : fixed;
        right:5%;
        top: 30%;
        color:white;
        p{
            font-weight: 100;
             font-size: 20px;
             line-height: 1.5rem;
             margin-bottom: 3rem;
             &.big{
                 font-size:120px;                 
                 font-weight: 500; 
                 margin-bottom: 4rem;                
             }
             &.medium{
                
                font-size:25px;                 
                font-weight: 500;                 
            }
        }
 
     }
  }